.benefits {
    padding: 60px 0;
    .nav-anchor {
        @extend %nav-list;
    }
    h2{
        @extend %gradient-color-title;
        margin-bottom: 60px;
    }

    .wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
        .case{
            img{
                border: 1px solid #FFFFFF;
                background-color: #FFFFFF;
                border-radius: 25%;
                width: 64px;
                height: 64px;
                padding: 5px;
            }
            h3{
                color:$color-active;
                font-size: 22px;
                line-height: 27px;
                margin: 15px 0;
            }
        }
    }
}