// Fonts
$primaryFont: Garamond, 'Times New Roman', serif;
$secondaryFont: Calluna, 'Times New Roman', serif;
$mainNavFont: Georgia, 'Times New Roman', serif;

$codGray: #0e0e0e;
$codGray2: #1c1c1c;
$white: #fff;