$content-width: 1320px; 
$content-width-lld: 1100px;
$content-width-hd: 1440px; 
$content-width-ld: 904px;
$content-width-tablet: 648px;
$content-width-mobile:320px;
$default-font: 'Montserrat';
$color-accent: #F0145A;
$color-idea-section: #B3B3BA;
$color-active:#24A3FF;
$color-hover:#0085FF;
$color-regular:#006CCF;
$color-hillel:#1C4280;
$color-wannabiz:#143646;
$color-targerine:#F48B30;
$color-3dlook:#9E4DC3;
$color-orangier:#FD9339;
$color-adteligent:#E2E2E4;
$color-clickky:#C71C36;
$color-eko:#DCF3F9;
$color-infatek:#EAEAEA;
$color-citipark:#282240;
$color-artpark:#1D4568;
$color-unlimite:#000000;
$color-footer-adress:#323264;
$color-background:#F5F5FA;